@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;400&display=swap');

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-size: 12px;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
    
/* ---- particles.js container ---- */ 
#particles-js {
    position:absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #456f78, #10282d);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
/* ---------------------------------------- */
.outer-music-container {
    height: 600px;
    width: 400px;
    border-radius: 40px;
    background: linear-gradient(145deg, #6898aa, #2c4b56);
    box-shadow:  12px 12px 20px #10282d;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.music-container {
    height: 550px;
    width: 350px;
    border-radius: 30px;
    background: #568698;
    box-shadow: inset 5px 5px 12px #345c6a,
            inset -20px -20px 20px #6898aa;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
    position: relative;
    z-index: 1;
}

.img-container {
    background: linear-gradient(145deg, #6898aa, #3d6777);
    box-shadow:  12px 12px 20px #345c6a,
             -12px -12px 20px #7aacbd;
    width: 225px;
    height: 225px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-img-container {
    background-color: #568698;
    box-shadow: inset 6px 6px 12px #345c6a,
            inset -6px -6px 12px #7aacbd;
    width: 215px;
    height: 215px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinning-border {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 199px;
    width: 199px;
    border-radius: 50%;
    background: linear-gradient(145deg, #48ff00, #00f7ff);
    position: absolute;
    transition: all ease 0.3s;
    animation: rotate 1s linear infinite;
    animation-play-state: paused;
}

.music-container.play .spinning-border {
    width: 215px;
    height: 215px;
    animation-play-state: running;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* .img-container img {
    border-radius: 50%;
    object-fit: cover;
    height: 200px;
    width: 200px;
    position: relative;
} */
.img-container img {
    border-radius: 50%;
    border: solid 2px #ffffff;
    object-fit: cover;
    height: 200px;
    width: 200px;
    position: relative;
}


.navigation {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 2;
}

.action-btn {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #568698;
    border: 0;
    color: #345763;
    font-size: 30px;
    cursor: pointer;
    margin: 0 20px;
    transition: all 0.2s ease-in;
}

.action-btn.action-btn-big {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 0;
    box-shadow: 5px 5px 10px #345c6a,
            -5px -5px 10px #7aacbd;
    transition: all 0.2s ease-in;
}

.action-btn:hover {
    color: #12252b;
}

.action-btn.action-btn-big:hover {
    color: #aaffd0;
}

.action-btn:focus {
    outline: 0;
}

.extras {
    width: 78%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ex-btns {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #568698;
    border: 0;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.ex-btns:hover {
    color: #aaffd0;
}

.music-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
    z-index: 3;
    padding: 15px;
}

.music-info h4 {
    margin: 0 0 20px 0;
    font-size: 15px;
    color: #ffffff;
}

.progress-container {
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin: 0;
    height: 4px;
    width: 90%;
    transition: all ease 0.2s;
}

.music-container.play .progress-container {
    height: 8px;
    width: 100%;
    transform: translateY(2px);
}

.progress {
    background: linear-gradient(45deg, #48ff00, #00f7ff);
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
}